@model MvcApplication1.Models.SearchResult
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Home", FormMethod.Get)) {
    @Html.ValidationSummary(true)

    @Html.TextBoxFor(m => m.term)
    <input type="button" id="search" value="Search" />
 }

<div id="searchResults"></div>

@section Scripts {
<script type="text/javascript">

    $("#search").click(search);

    function search() {
            //alert("search");
            var term = $("#term").val();
            $.ajax({
                url: "/Home/SearchAsync",
                data: JSON.stringify({ term: term }),
                type: "POST",
                datatype: "json",
                contentType: "application/json",
                success: function (result) {
                    renderResults(result);
                }
            });
            return false;
        }

    function renderResults(result) {
        $("#searchResults").html(result);
    }

    </script>
}